<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="au.org.intersect.exsite9.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="au.org.intersect.exsite9.Perspective"
            id="au.org.intersect.exsite9.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="au.org.intersect.exsite9.application"
            name="ExSite9">
         <property
               name="appName"
               value="ExSite9">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="au.org.intersect.exsite9.application"
            name="ExSite9">
         <property
               name="appName"
               value="ExSite9">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="au.org.intersect.exsite9.view.ProjectExplorerView"
            icon="icons/icon_projectview_12.png"
            id="au.org.intersect.exsite9.view.ProjectExplorerView"
            name="Project Explorer View"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="au.org.intersect.exsite9.view.MetadataBrowserView"
            icon="icons/icon_metadata_12.png"
            id="au.org.intersect.exsite9.view.MetadataBrowserView"
            name="Metadata Browser"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="au.org.intersect.exsite9.view.SubmissionPackageBrowserView"
            id="au.org.intersect.exsite9.view.SubmissionPackageBrowserView"
            name="Submission Package Browser"
            restorable="false">
      </view>
	  <view
			allowMultiple="false"
            class="au.org.intersect.exsite9.view.AssociatedMetadataView"
            id="au.org.intersect.exsite9.view.AssociatedMetadataView"
            name="Associated Metadata View"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="au.org.intersect.exsite9.commands.handlers.ExitHandler"
            id="au.org.intersect.exsite9.commands.ExitCommand"
            name="Exit">
      </command>
      <command
            defaultHandler="au.org.intersect.exsite9.commands.handlers.NewProjectHandler"
            id="au.org.intersect.exsite9.commands.NewProjectCommand"
            name="New Project">
      </command>
      <command
            id="au.org.intersect.exsite9.commands.AddFolderToProjectCommand"
            name="Add Folder to Project">
      </command>
      <command
            id="au.org.intersect.exsite9.commands.AddGroup"
            name="Add Group">
      </command>
      <command
            id="au.org.intersect.exsite9.commands.ReloadProjectCommand"
            name="Refresh Project">
      </command>
      <command
            defaultHandler="au.org.intersect.exsite9.commands.handlers.OpenProjectHandler"
            id="au.org.intersect.exsite9.commands.OpenProjectCommand"
            name="Open Project">
      </command>
      <command
            defaultHandler="au.org.intersect.exsite9.commands.handlers.EditProjectHandler"
            id="au.org.intersect.exsite9.commands.EditProjectCommand"
            name="Edit Project">
      </command>
      <command
            defaultHandler="au.org.intersect.exsite9.commands.handlers.AddMetadataCategoryHandler"
            id="au.org.intersect.exsite9.commands.AddMetadataCategoryCommand"
            name="Add Metadata Category">
         <commandParameter
         		id="au.org.intersect.exsite9.commands.AddMetadataCategoryCommand.categoryParameter"
         		name="Category">
         </commandParameter>  
      </command>
      <command
            defaultHandler="au.org.intersect.exsite9.commands.handlers.ListFoldersHandler"
            id="au.org.intersect.exsite9.commands.ListFoldersCommand"
            name="List Folders">
      </command>
      <command
            id="au.org.intersect.exsite9.commands.DeleteGroupCommand"
            name="Delete Group">
      </command>
      <command
            defaultHandler="au.org.intersect.exsite9.commands.handlers.ExportProjectXMLHandler"
            id="au.org.intersect.exsite9.commands.ExportProjectXMLCommand"
            name="Export Project XML">
	  </command>
	  <command
            id="au.org.intersect.exsite9.commands.RenameGroupCommand"
            name="Rename Group">
      </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.CreateSubmissionPackageHandler"
         id="au.org.intersect.exsite9.commands.CreateSubmissionPackageCommand"
         name="Create Submission Package">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.EditSubmissionPackageHandler"
         id="au.org.intersect.exsite9.commands.EditSubmissionPackageCommand"
         name="Edit Submission Package">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.DeleteSubmissionPackageHandler"
         id="au.org.intersect.exsite9.commands.DeleteSubmissionPackageCommand"
         name="Delete Submission Package">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.ExportSubmissionPackageXMLHandler"
         id="au.org.intersect.exsite9.commands.ExportSubmissionPackageXMLCommand"
         name="Export Submission Package XML">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.ExportSubmissionPackageZIPHandler"
         id="au.org.intersect.exsite9.commands.ExportSubmissionPackageZIPCommand"
         name="Export Submission Package ZIP">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.ExcludeResearchFilesHandler"
         id="au.org.intersect.exsite9.commands.ExcludeResearchFiles"
         name="Exclude Research Files">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.ListExcludedFilesHandler"
         id="au.org.intersect.exsite9.commands.ListExcludedFilesCommand"
         name="List Excluded Files">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.ImportMetadataSchemaHandler"
         id="au.org.intersect.exsite9.commands.ImportMetadataSchemaCommand"
         name="Import metadata schema">
   </command>
   <command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.ExportMetadataSchemaHandler"
         id="au.org.intersect.exsite9.commands.ExportMetadataSchemaCommand"
         name="Export metadata command">
	</command>
	<command
         defaultHandler="au.org.intersect.exsite9.commands.handlers.FindResearchFileHandler"
         id="au.org.intersect.exsite9.commands.FindResearchFile"
         name="Find File">
   </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="au.org.intersect.exsite9.menu.file"
               label="File"
               mnemonic="F"
               tooltip="The File menu">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  mnemonic="P"
                  style="push"
                  tooltip="ExSite9 Preferences">
            </command>
            <separator
                  name="au.org.intersect.exsite9.menu.file.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="au.org.intersect.exsite9.commands.ExitCommand"
                  label="Exit"
                  mnemonic="x"
                  style="push"
                  tooltip="Exits the application">
            </command>
         </menu>
         <menu
               id="au.org.intersect.exsite9.menu.project"
               label="Project"
               mnemonic="P">
            <command
                  commandId="au.org.intersect.exsite9.commands.NewProjectCommand"
                  icon="icons/icon_new_16.png"
                  label="New..."
                  mnemonic="N"
                  style="push"
                  tooltip="Create a new project">
            </command>
            <command
                  commandId="au.org.intersect.exsite9.commands.EditProjectCommand"
                  label="Edit..."
                  mnemonic="d"
                  style="push"
                  tooltip="Edit the current project">
            </command>
            <command
                  commandId="au.org.intersect.exsite9.commands.OpenProjectCommand"
                  icon="icons/icon_open_16.png"
                  label="Open..."
                  mnemonic="O"
                  style="push"
                  tooltip="Open an existing project">
            </command>
            <command
                  commandId="au.org.intersect.exsite9.commands.ListFoldersCommand"
                  icon="icons/icon-folder.png"
                  label="Folders..."
                  mnemonic="F"
                  style="push"
                  tooltip="List the project folders">
            </command>
            <command
                  commandId="au.org.intersect.exsite9.commands.ListExcludedFilesCommand"
                  label="Excluded Files..."
                  mnemonic="E"
                  style="push"
                  tooltip="Lists the files that have been excluded from this project">
            </command>
            <command
                  commandId="au.org.intersect.exsite9.commands.ReloadProjectCommand"
                  icon="icons/icon_refresh_16.png"
                  label="Refresh"
                  mnemonic="R"
                  style="push"
                  tooltip="Refresh the project&apos;s folders">
            </command>
            <command
                  commandId="au.org.intersect.exsite9.commands.ExportProjectXMLCommand"
                  icon="icons/icon_export_16.png"
                  label="Export..."
                  mnemonic="x"
                  style="push"
                  tooltip="Export the project&apos;s details to XML">
            </command>
         </menu>
         <menu
               id="au.org.intersect.exsite9.menu.metadata"
               label="Metadata"
               mnemonic="M">
            <menu
                  label="Schema"
                  mnemonic="S">
               <command
                     commandId="au.org.intersect.exsite9.commands.ImportMetadataSchemaCommand"
                     label="Import..."
                     mnemonic="I"
                     style="push"
                     tooltip="Import metadata schema">
               </command>
               <command
                     commandId="au.org.intersect.exsite9.commands.ExportMetadataSchemaCommand"
                     label="Export..."
                     mnemonic="x"
                     style="push"
                     tooltip="Export metadata schema">
               </command>
            </menu>
            <command
                  commandId="au.org.intersect.exsite9.commands.AddMetadataCategoryCommand"
                  icon="icons/icon-metadata.png"
                  label="New Category..."
                  mnemonic="N"
                  style="push"
                  tooltip="Add Metadata Category">
            </command>
         </menu>
         <menu
               id="au.org.intersect.exsite9.menu.submissionpackage"
               label="Submission Package"
               mnemonic="S">
            <command
                  commandId="au.org.intersect.exsite9.commands.CreateSubmissionPackageCommand"
                  label="Create..."
                  mnemonic="C"
                  style="push"
                  tooltip="Create a submission package">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="au.org.intersect.exsite9.toolbar"
               label="ToolBar">
            <command
                  commandId="au.org.intersect.exsite9.commands.NewProjectCommand"
                  icon="icons/icon_new_16.png"
                  label="New Project"
                  style="push"
                  tooltip="Create a new project">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:au.org.intersect.exsite9.view.ProjectExplorerView">
         <menu
               label="New">
            <command
                  commandId="au.org.intersect.exsite9.commands.AddFolderToProjectCommand"
                  icon="icons/icon-folder.png"
                  label="Folder..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="au.org.intersect.exsite9.commands.AddGroup"
                  label="Group..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="au.org.intersect.exsite9.expression.InstanceOfProjectOrGroup">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
         <command
               commandId="au.org.intersect.exsite9.commands.EditProjectCommand"
               label="Edit Project Details..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="exsite9.separator1"
               visible="true">
         </separator>
         <command
               commandId="au.org.intersect.exsite9.commands.ListFoldersCommand"
               icon="icons/icon-folder.png"
               label="Folders..."
               style="push"
               tooltip="List the project folders">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.ListExcludedFilesCommand"
               label="Excluded Files..."
               style="push"
               tooltip="Lists the files that have been excluded from this project">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
               </reference>
            </visibleWhen>
         </command>              
         <command
               commandId="au.org.intersect.exsite9.commands.ReloadProjectCommand"
               icon="icons/icon_refresh_16.png"
               label="Refresh"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.DeleteGroupCommand"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfGroup">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="exsite9.separator2"
               visible="true">
         </separator>
         <command
               commandId="au.org.intersect.exsite9.commands.ExportProjectXMLCommand"
               icon="icons/icon_export_16.png"
               label="Export..."
               style="push">
               <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
                 </reference>
            	</visibleWhen>
         </command>

         <command
               commandId="au.org.intersect.exsite9.commands.RenameGroupCommand"
               label="Rename Group"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfGroup">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.ExcludeResearchFiles"
               label="Exclude"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfResearchFile">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.FindResearchFile"
               label="Find File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfResearchFile">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:au.org.intersect.exsite9.view.SubmissionPackageBrowserView">
         <command
               commandId="au.org.intersect.exsite9.commands.EditSubmissionPackageCommand"
               label="Edit..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfSubmissionPackage">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.DeleteSubmissionPackageCommand"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfSubmissionPackage">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.CreateSubmissionPackageCommand"
               label="Create Submission Package..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.ExportSubmissionPackageXMLCommand"
               label="Export XML..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfSubmissionPackage">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="au.org.intersect.exsite9.commands.ExportSubmissionPackageZIPCommand"
               label="Export ZIP..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="au.org.intersect.exsite9.expression.InstanceOfSubmissionPackage">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.ProjectServiceFactory">
         <service
               serviceClass="au.org.intersect.exsite9.service.IProjectService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.FileServiceFactory">
         <service
               serviceClass="au.org.intersect.exsite9.service.IResearchFileService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.GroupServiceFactory">
         <service
               serviceClass="au.org.intersect.exsite9.service.IGroupService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.MetadataCategoryServiceFactory">
         <service
               serviceClass="au.org.intersect.exsite9.service.IMetadataCategoryService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.ProjectManagerFactory">
         <service
               serviceClass="au.org.intersect.exsite9.service.IProjectManager"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.EntityManagerFactoryFactory">
         <service
               serviceClass="javax.persistence.EntityManagerFactory"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.SubmissionPackageServiceFactory">
         <service
               serviceClass="au.org.intersect.exsite9.service.ISubmissionPackageService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="au.org.intersect.exsite9.service.factory.SchemaServiceFactory">
         <service
               serviceClass="au.org.intersect.exsite9.service.ISchemaService"></service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="au.org.intersect.exsite9.commands.handlers.AddFolderToProjectHandler"
            commandId="au.org.intersect.exsite9.commands.AddFolderToProjectCommand">
      </handler>
      <handler
            class="au.org.intersect.exsite9.commands.handlers.AddGroupHandler"
            commandId="au.org.intersect.exsite9.commands.AddGroup">
         <enabledWhen>
            <reference
                  definitionId="au.org.intersect.exsite9.expression.OneItemSelected">
            </reference>
         </enabledWhen>
      </handler>      
	  <handler
            class="au.org.intersect.exsite9.commands.handlers.ReloadProjectHandler"
            commandId="au.org.intersect.exsite9.commands.ReloadProjectCommand">
      </handler>
   <handler
         class="au.org.intersect.exsite9.commands.handlers.DeleteGroupHandler"
         commandId="au.org.intersect.exsite9.commands.DeleteGroupCommand">
      <enabledWhen>
         <reference
               definitionId="au.org.intersect.exsite9.expression.OneItemSelected">
         </reference>
      </enabledWhen>
   </handler>
   <handler
         class="au.org.intersect.exsite9.commands.handlers.RenameGroupHandler"
         commandId="au.org.intersect.exsite9.commands.RenameGroupCommand">
      <enabledWhen>
         <reference
               definitionId="au.org.intersect.exsite9.expression.OneItemSelected">
         </reference>
      </enabledWhen>
   </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="au.org.intersect.exsite9.expression.InstanceOfProject">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="au.org.intersect.exsite9.domain.Project">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="au.org.intersect.exsite9.expression.InstanceOfProjectOrGroup">
         <or>
            <reference
                  definitionId="au.org.intersect.exsite9.expression.InstanceOfProject">
            </reference>
            <reference
                  definitionId="au.org.intersect.exsite9.expression.InstanceOfGroup">
            </reference></or>
      </definition>
      <definition
            id="au.org.intersect.exsite9.expression.OneItemSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="au.org.intersect.exsite9.expression.InstanceOfGroup">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <and>
                  <instanceof
                        value="au.org.intersect.exsite9.domain.Group">
                  </instanceof>
                  <not>
                     <instanceof
                           value="au.org.intersect.exsite9.domain.NewFilesGroup">
                     </instanceof>
                  </not></and>
            </iterate>
         </with>
      </definition>
      <definition
            id="au.org.intersect.exsite9.expression.InstanceOfSubmissionPackage">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="au.org.intersect.exsite9.domain.SubmissionPackage">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="au.org.intersect.exsite9.expression.InstanceOfResearchFile">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="au.org.intersect.exsite9.domain.ResearchFile">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="au.org.intersect.exsite9.property.GroupNameTester"
            id="au.org.intersect.exsite9.property.GroupNameTester"
            namespace="au.org.interset.exsite9.property"
            properties="groupName"
            type="au.org.intersect.exsite9.domain.Group">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="au.org.intersect.exsite9.activity.showProject"
            name="Show Project">
      </activity>
      <activityPatternBinding
            activityId="au.org.intersect.exsite9.activity.showProject"
            pattern="au.org.intersect.exsite9/au.org.intersect.exsite9.menu.metadata">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="au.org.intersect.exsite9.activity.showProject"
            pattern="au.org.intersect.exsite9/au.org.intersect.exsite9.menu.submissionpackage">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="au.org.intersect.exsite9.startup.InitializeDB">
      </startup>
      <startup
            class="au.org.intersect.exsite9.startup.InitializeFolderRefreshJob">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="au.org.intersect.exsite9.configpages.ConfigPage"
            id="au.org.intersect.exsite9.configpages.ConfigPage"
            name="ExSite9">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="au.org.intersect.exsite9.initialization.ConfigurationInitializer">
      </initializer>
   </extension>

</plugin>
